[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/1bl4z3r/hermit-V2
[submodule "themes/hugo-theme-gruvbox"]
	path = themes/hugo-theme-gruvbox
	url = https://github.com/schnerring/hugo-theme-gruvbox
[submodule "themes/hugo-theme-gruvbox-math"]
	path = themes/hugo-theme-gruvbox-math
	url = https://github.com/nathom/hugo-theme-gruvbox
[submodule "assets/js/solve2048"]
	path = assets/js/solve2048
	url = https://github.com/nathom/solve2048.git
