<script src="https://giscus.app/client.js"
        data-repo="{{.Site.Params.Giscus.repo}}"
        data-repo-id="{{.Site.Params.Giscus.repo_id}}"
        data-category="{{.Site.Params.Giscus.category}}"
        data-category-id="{{.Site.Params.Giscus.category_id}}"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="{{.Site.Params.Giscus.reactions_enabled}}"
        data-emit-metadata="0"
        data-input-position="{{.Site.Params.Giscus.input_position}}"
        data-theme="{{.Site.Params.Giscus.theme}}"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
