{{ if .Site.Params.comments }}
<h1>Comments</h1>
<script src="https://giscus.app/client.js"
        data-repo="nathom/thinkings_comments"
        data-repo-id="R_kgDOKDmHRQ"
        data-category="General"
        data-category-id="DIC_kwDOKDmHRc4CYXMZ"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{{ end }}
