<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <title>2048.ai</title> -->

    {{ $styles := resources.Get "css/solve2048/main.css" | toCSS | minify |
    fingerprint }}
    <link
      rel="stylesheet"
      href="{{ $styles.RelPermalink }}"
      integrity="{{ $styles.Data.Integrity }}"
    />

    <!-- <link href="style/main.css" rel="stylesheet" type="text/css" /> -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="meta/apple-touch-icon.png" />
    <link
      rel="apple-touch-startup-image"
      href="meta/apple-touch-startup-image-640x1096.png"
      media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
    />
    <!-- iPhone 5+ -->
    <link
      rel="apple-touch-startup-image"
      href="meta/apple-touch-startup-image-640x920.png"
      media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
    />
    <!-- iPhone, retina -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta
      name="viewport"
      content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui"
    />
  </head>
  <body>
    <div class="border-container">
      <div class="container">
        <div class="heading">
          <h1 class="title">
            <a href="/projects/solve2048"> 2048.ai </a>
          </h1>
          <div class="scores-container">
            <div class="score-container">0</div>
            <div class="best-container">0</div>
          </div>
        </div>

        <div class="above-game">
          <p class="game-intro">
            Join the numbers and get to the <strong>2048 tile!</strong>
          </p>
        </div>

        <div class="button-row">
          <a class="restart-button">New game</a>
          <a class="random-move-button">Activate</a>
          <div class="dropdown">
            <a class="dropbtn">Random</a>
            <div class="dropdown-content">
              <a href="#" id="random-item">Random Player</a>
              <a href="#" id="monte-carlo-item">Monte Carlo</a>
              <a href="#" id="expectimax-item">Expectimax</a>
              <a href="#" id="ntuple-item">N-tuple Network</a>
            </div>
          </div>
        </div>

        <div class="agent-settings">
          <div class="generic-label">
            <p id="ms-per-move">0</p>
            <p id="ms-per-move-label">ms per move</p>
          </div>
          <div class="delay-label-container">
            <p>Delay:</p>
            <p id="delay-label">100</p>
            <p id="ms-delay-text">ms</p>
          </div>
          <input
            id="delay-range"
            type="range"
            min="0"
            max="500"
            value="100"
            step="1"
          />
        </div>

        <div class="game-container">
          <div class="game-message">
            <p></p>
            <div class="lower">
              <a class="keep-playing-button">Keep going</a>
              <a class="retry-button">Try again</a>
            </div>
          </div>

          <div class="grid-container">
            <div class="grid-row">
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
            </div>
            <div class="grid-row">
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
              <div class="grid-cell"></div>
            </div>
          </div>

          <div class="tile-container"></div>
        </div>

        <div class="progress-container">
          <p id="download-progress-label">Downloading Weights (--/-- MB)</p>
          <div class="progress">
            <div class="color" id="download-bar"></div>
          </div>
        </div>

        {{ $js_2048 := resources.Get "js/solve2048/www/output/index.js" |
        resources.Minify }} {{ $wasm := resources.Get
        "js/solve2048/www/output/solve2048_bg.wasm" }}
        <script>
          wasm_path = "{{ $wasm.Permalink }}";
        </script>
        <script src="{{ $js_2048.Permalink }}"></script>
      </div>
    </div>

    <!-- <script> -->
    <!--   wasm_path = "./solve2048_bg.wasm"; -->
    <!-- </script> -->
    <!-- <script src="./index.js"></script> -->
  </body>
</html>
